#form1 {
    font-family: Helvetica;
    background: #eee;
    -webkit-font-smoothing: antialiased;
}

#wrap {
    margin: 0 15px 0 15px;
    width: auto;
    min-height: 720px;
    overflow: hidden;
}


.lblNome {
    width: 500px;
    font-size: 20px;
}

.lblSaldo {
    font-weight: bold;
    width: 500px;
    font-size: 28px;
    color: green;
}

#perfil {
    width: auto;
    width: 200px;
    height: auto;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 1em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.dropdown {
    background-color: #eee;
    color: #141414;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#adicionar {
    width: auto;
    max-width: 380px;
    float: left;
    height: auto;
    margin: 0px 15px 0 0;
    padding: 3em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

#tabelas {
    width: auto;
    height: auto;
    padding: 3em 2em 2em 2em;
    overflow: auto;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #757575;
    color: white;
}

#input input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: #fafafa;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
}


.button input {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#btnAdd {
    float: left;
    width: 150px;
    display: inline-block;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    #adicionar {
        margin: 0;
    }

    th {
        display: none;
    }

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        /*
	Label the data
	*/
        td:nth-of-type(1):before {
            content: "Descrição:";
        }

        td:nth-of-type(2):before {
            content: "Valor:";
        }

        td:nth-of-type(3):before {
            content: "Data:";
        }

        td:nth-of-type(4):before {
            content: "Editar:";
        }

        td:nth-of-type(5):before {
            content: "Excluir:";
        }
}
